.App{
    max-width: 600px;
    margin: 30px auto;
    padding-top: 20px;
    
    
}
.App footer{
    font-size: 15px;
    margin: 10px 0;
    font-weight: 15px;

    
}
.App .links{
    text-decoration: none;
    font-weight: bold;
}

