.Weather{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #dadde1;
    color: rgb(135, 135, 135);
    padding: 16px;
    margin: 30px auto;
    border-radius: 5px;
}



.Weather h1{
  
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
    padding-bottom: 5px;

}
.Weather ul{
    margin: 0;
    padding: 0;
}

.Weather li{
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;

}
.Weather img{
    height: 64px;
    margin-top: 10px;



}
.Weather .temperature{
    font-weight: bold;
    color: rgb(35, 33, 33);
    font-size: 60px;
    line-height: 64px;
    font-weight: 400;
    padding-left: 12px;
    padding-top: 15px;


}
.Weather .units{
    color: rgb(33, 33, 33);
    font-size: 18px;
    font-weight: 450;
    position: relative;
    top: -15px;
    line-height: 1;
    margin-right: 5px;

}